<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Examples</title>
</head>
<body>

<h1>Examples</h1>

<p>This is normal text</p>

<p style="font-family:verdana">This is how you change fonts.</p>

<p><b>This is how you bold text</b></p>

<p><i>This is an example of italic</i></p>

<p style="text-align:left">Left justified</p>

<p style="text-align:center">Center justified</p>

<p style="text-align:right">Right justified</p>

<p>Here is how you make a <a href="https://youtu.be/n-08byNZl78">hyperlink</a></p>
<br>

<img src="https://pbs.twimg.com/media/FK5aqUOVcAMaRJF.jpg:large" alt="Yodel cat" style="width:200px;height:300;">
<br>
<br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/n-08byNZl78" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</body>
</html>